<footer class="footer">
    <div class="footer__social-container">
        <ul class="footer__social-list">
            <li class="footer__social-item"><a class="footer__social-link" href="https://github.com/d3vh4n5/CaC-Fullstack-Node-Grupo10" target="_blank" title="GitHub" rel="noopener noreferrer"><i class="fa-brands fa-square-github"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="https://github.com/d3vh4n5/CaC-Fullstack-Node-Grupo10" target="_blank" title="Instagram" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="https://github.com/d3vh4n5/CaC-Fullstack-Node-Grupo10" target="_blank" title="Facebook" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="https://github.com/d3vh4n5/CaC-Fullstack-Node-Grupo10" target="_blank" title="Twitter" rel="noopener noreferrer"><i class="fa-brands fa-square-x-twitter"></i></a></li>
        </ul>
    </div>
    <small class="footer__copyright">
            ©️ 2024
        <code translate="no" class="footer__brand">
            Grupo 10 - Codo a Codo Comisión 24126.
        </code>
    </small>
</footer>