<header class="header">
    <div>
        <h1>LOGO</h1>
    </div>
    <nav>
        <ul>
            <li>
                <a class="INSIDE-NAV" href="/index.html">Home</a>
            </li>
            <li>
                <a class="INSIDE-NAV" href="/pages/about.html">Acerca de</a>
            </li>
            <li>
                <a class="INSIDE-NAV" href="/pages/contact.html">Contacto</a>
            </li>
            <li>
                <a class="INSIDE-NAV" href="#">Secctión</a>
            </li>
            <li>
                <a class="INSIDE-NAV" href="#">Secctión</a>
            </li>
        </ul>
    </nav>
</header>