<header class="header">
    <div class="header__logo-container">
        <img src="../../assets/img/favicon.ico" alt="Logo" class="header__logo-img">
        <!-- <h2 class="header__logo-name">LOGO</h2> -->
    </div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a class="INSIDE-NAV header__nav-link" href="/index.html">Home</a>
            </li>
            <li class="header__nav-item">
                <a class="INSIDE-NAV header__nav-link" href="/pages/about.html">Acerca de</a>
            </li>
            <li class="header__nav-item">
                <a class="INSIDE-NAV header__nav-link" href="/pages/contact.html">Contacto</a>
            </li>
            <li class="header__nav-item">
                <a class="INSIDE-NAV header__nav-link" href="#">Secctión</a>
            </li>
            <li class="header__nav-item">
                <a class="INSIDE-NAV header__nav-link" href="#">Secctión</a>
            </li>
        </ul>
    </nav>
    <div class="header__login-container">
        <a href="/pages/login.html" class="header__login-btn">
            <i class="fa-solid fa-user"></i>
            Login
        </a>
    </div>
</header>