@font-face {
    font-family: 'Cascadia Code';
    src: url('../../fonts/Cascadia.ttf');
}

:root{
    font-size: 16px;

    --color-primary: #f6f6f6;
    --color-secondary-dark: #007F73;
    --color-secondary: #008e6b;
    --color-secondary-light: #4CCD99;
    --color-acent: rgb(255, 160, 71);
    --color-bg: var(--color-primary);
    --color-font: #001f1c;
}

/* body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
} */
