@font-face {
    font-family: 'Cascadia Code';
    src: url('../../fonts/Cascadia.ttf');
}

:root{
    font-size: 16px;

    /* --color-primary: #fcf8ef;
    --color-secondary-dark: #568281;
    --color-secondary: #91BBc1;
    --color-secondary-light: #C8D8D9;
    --color-accent: rgb(255, 175, 71);
    --color-bg: var(--color-primary);
    --color-font: #2D3E44; */

    --color-primary: #ecf0f8;
    --color-secondary-dark: #304A6E;
    --color-secondary: #668DC0;
    --color-secondary-light: #C0D0EF;
    --color-accent: rgb(255, 175, 71);
    --color-accent: var(--color-secondary-dark);
    --color-bg: var(--color-primary);
    --color-font: #0f1c30;

    /* --blue: #668DC0;
    --color-secondary-lighter: color-mix(in srgb, var(--blue), white 75%); 
    --color-secondary-light: color-mix(in srgb, var(--blue), white); 
    --color-secondary: var(--blue);
    --color-secondary-dark: color-mix(in srgb, var(--blue), black 25%); 
    --color-secondary-darker: color-mix(in srgb, var(--blue), black);  */

    

    /* --color-primary: #f6f6f6;
    --color-secondary-dark: #015c48;
    --color-secondary: #008e6b;
    --color-secondary-light: #4CCD99;
    --color-accent: rgb(255, 160, 71);
    --color-bg: var(--color-primary);
    --color-font: #001f1c; */
}

