.header{
    padding: 10px;
    background-color: var(--color-secondary);
    color: white;
}
.header__container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
}

.header__logo-container{
    padding-top: 4px;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.header__logo-img{
    width: 40px;
}

.header__nav{
    display: flex;
    align-items: center;
}
.header__nav-list{
    margin: 0px 100px 0px 0px;
    padding: 0;
    display: flex;
    gap: 20px;
}
.header__nav-item{
    list-style: none;
}
.header__nav-link{
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    transition: all .3s;
}
.header__nav-link:hover{
    text-decoration: underline;
    /* background: radial-gradient(var(--color-secondary-light)30%, transparent 90%); */
    color: currentColor;
    transform: scale(1.1);
}
.header__login-container{
    display: flex;
    align-items: center;
}
.header__login-btn{
    padding: 6px 20px;
    background-color: var(--color-accent);
    text-decoration: none;
    color: currentColor;
    border-radius: 5px;
}

.header__login-btn:hover{
    background-color: var(--color-secondary-light);
    color: var(--color-font);
}


/*
    Responsive mechanics
*/

.header__darkscreen{
    display: none;
}

.header__burger-button, .header__close-button{
    display: none;
}

.header__responsive-checkbox {
    display: none;
}

@media (max-width: 750px) {
    .header__logo-container{
        padding: 0px 3px 3px;
    }
    
    .header__logo-img{
        width: 20px;
    }
    .header__burger-button, .header__close-button{
        border: 2px solid rgba(211, 211, 211, 0.384);
        border-radius: 3px;
        font-size: 20px;
        display: grid;
        place-items: center;
        width: fit-content;
        height: fit-content;
        padding: 6px;
    }

    .header__nav{
        padding: 10px;
        position: fixed;
        background-color: var(--color-secondary-light);
        border-top: 100px solid var(--color-secondary);
        border-bottom: 50px solid var(--color-secondary);
        border-radius: 20px 0px 0px 20px;
        right: -100%;
        top: 0;
        width: max(33%, 200px);
        height: 100%;
        z-index: 100;
        flex-direction: column-reverse;
        justify-content: flex-end;
        transition: all .5s;
    }

    .header__nav-list{
        width: 100%;
        margin: 0;
        flex-direction: column;
        color: var(--color-font);
        gap: 5px;
    }

    .header__nav-link{
        background-color: var(--color-primary);
        border-radius: 5px;
    }
    
    .header__responsive-checkbox:checked ~ .header__nav {
        right: 0;
        box-shadow: 0px 0px 20px 5px rgba(0, 5, 53, 0.2);
    }
    .header__responsive-checkbox:checked ~ .header__darkscreen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 50;
    }

    .header__login-container{
        width: 100%;
    }

    .header__login-btn{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header__close-button{
        position: absolute;
        top: -80px;
        right: 14px;
        color: red;
        margin-bottom: 20px;
        border: none
    }

    .header__nav-link{
        padding: 10px;
        width: 100%;
    }
}