.formRegister{
    line-height: 0.8;
}
.h3Forgotten{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: rgb(71, 144, 166);
    font-size: 25px;
    text-align: center;
    margin-bottom: 0.8%;

}
.formRegister1{
    line-height: 3;
}